#toolbar-item-node-types-tray .toolbar-menu-administration {
  padding-right: 20%;
}

.toolbar .toolbar-bar .toolbar-icon-node-types:before {
  background-image: url(/core/themes/stable/images/core/icons/bebebe/cog.svg);
}

.toolbar-bar .toolbar-icon-node-types:active:before,
.toolbar-bar .toolbar-icon-node-types.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/ffffff/cog.svg);
}
